/* Defines the order of CSS layers to prevent style conflicts and ensure proper cascading */
@layer reset, base, tokens, recipes, utilities;

/* Centers content both vertically and horizontally on the page, ensuring the content
   always stays in the middle of the screen no matter the device size */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
